<?php 
$this->extendTpl('public/base.html'); 
$this->blockStart('content');
?>
           
<article id="post-<?php echo $article->ID ?>" class="post-<?php echo $article->ID ?> post type-post status-publish format-standard hentry category-software">
    <header class="entry-header">
        <h1 class="entry-title"><?php echo $article->post_title ?></h1>
        <div class="comments-link">
            <a href="/article/<?php echo $article->ID ?>/#respond" title="《<?php echo $article->post_title ?>》上的评论"><span class="leave-reply">发表回复</span></a>
        </div><!-- .comments-link -->
    </header><!-- .entry-header -->

    <div class="entry-content">
        <p>
<?php echo wpautop($article->post_content) ?>
        </p>
    </div><!-- .entry-content -->
        
    <footer class="entry-meta">
        本条目发布于 <a href="<?php echo $site_url ?>?p=<?php echo $article->ID ?>" title="<?php echo $article->post_date->format('H:i') ?>" rel="bookmark"><time class="entry-date" datetime="<?php echo $article->post_date->format('Y-m-d\\TH:i:sP') ?>"><?php echo $article->post_date->format('Y-m-d') ?></time></a>。
        属于
        <?php foreach ($article->categories as $i => $category) { ?>
        <?php if ($i > 0) echo '、' ?>
        <a href="<?php echo $site_url ?>?cat=<?php echo $category->term_id ?>" title="查看 <?php echo $category->term->name ?> 中的全部文章" rel="category"><?php echo $category->term->name ?></a>
        <?php } ?>
        分类
        <?php if ($article->tags) { ?>
            ，被贴了
            <?php foreach ($article->tags as $i => $tag) { ?>
            <?php if ($i > 0) echo '、' ?>
            <a href="<?php echo $site_url ?>?tag=<?php echo $tag->term->slug ?>" rel="tag"><?php echo $tag->term->name ?></a>
            <?php } ?>
            标签
        <?php } ?>。
        <span class="by-author">作者是 <span class="author vcard"><a class="url fn n" href="<?php echo $site_url ?>?author=<?php echo $article->post_author ?>" title="查看所有由 <?php echo $article->author->display_name ?> 发布的文章" rel="author"><?php echo $article->author->display_name ?></a></span>。</span>
    </footer><!-- .entry-meta -->
</article><!-- #post -->

<nav class="nav-single">
    <h3 class="assistive-text">文章导航</h3>
    <span class="nav-previous"><a href="<?php echo $site_url ?>/article/1/" rel="prev"><span class="meta-nav">←</span>My First Post</a></span>
    <span class="nav-next"></span>
</nav><!-- .nav-single -->

<?php
$this->includeTpl('public/post_comment.html');
$this->blockEnd();
?>
